.result {
  &-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
    float: left;
  }
  .info {
    margin-top: 30px;
    float: left;
    li {
      list-style: none;
      margin-top: 5px;
    }
    .info-title-url {
      text-decoration: none;
    }
    .back {
      display: inline-block;
      text-decoration: none;
      background-color: #04A4FF;
      color: white;
      padding: 5px 15px 5px 15px;
      margin: 20px 0 0 0;
      font-size: 14px;
    }
  }
}

.clearfix::after {
  clear: both;
  display: block;
  content: '';
}

.tips {
  margin: 10px 15px;
}